@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
