@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  position: relative;
}

.hidden,
.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 1280px;
  }
}

.modal {
  position: relative;
  width: 280px;
  height: 1028px;
  padding: 40px 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  overflow-y: scroll;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 250ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal {
    width: 704px;
    height: 605px;
    padding: 40px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 806px;
    height: 615px;
    padding: 40px 12px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #ff6b08;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .film__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .film__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }
}

.film__image {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 240px;
  height: 357px;
  border-radius: 5px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .film__image {
    max-width: 372px;
    height: 472px;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .film__image {
    max-width: 375px;
    height: 478px;
    margin: 0;
  }
}

.film__information {
  text-align: start;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .film__information {
    max-height: 472px;
  }
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .film__title {
    font-size: 30px;
    line-height: 1.17;
  }
}

.film__item {
  display: flex;
  margin-bottom: 10px;
}

.film__details {
  color: #8c8c8c;
  min-width: 108px;
}

.film__info--uper {
  text-transform: uppercase;
  line-height: 1.17;
}

.film__rating--orange {
  color: #fff;
  background-color: #ff6b08;
  line-height: 1.17;
  border-radius: 5px;
  padding: 1px 10px;
}

.film__rating--divider {
  margin-right: 3px;
  color: #8c8c8c;
  line-height: 1.17;
}

.film__details--uper {
  text-transform: uppercase;
}

.film__vote-count {
  line-height: 1.17;
}

.film__about__title {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 8px;
}

.film__about__text {
  line-height: 1.67;
  margin-bottom: 20px;
  overflow-y: scroll;
  max-height: 130px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .film__about__text {
    max-height: 160px;
  }
}
@media screen and (min-width: 1280px) {
  .film__about__text {
    max-height: 218px;
  }
}

.film__button__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .film__button__wrapper {
    gap: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .film__button__wrapper {
    flex-wrap: nowrap;
  }
}

.film__button {
  width: 110px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.film__button:hover, .film__button:focus {
  background-color: #ff6b08;
  color: #fff;
  border: 1px solid #ff6b08;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .film__button {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .film__button {
    width: 136px;
  }
}

.film__button.active {
  background-color: #ff6b08;
  color: #fff;
  border: 1px solid #ff6b08;
}

.film__trailer-link {
  display: flex;
  padding: 13px 12px;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.film__trailer-link:hover, .film__trailer-link:focus {
  background-color: #ff6b08;
  color: #fff;
  border: 1px solid #ff6b08;
}

.film__trailer__text {
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
  pointer-events: auto;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-backdrop-trailer {
  z-index: 11;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  position: relative;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -100%);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff6b08, #ffe8d5);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #b85e00, #ff6b08);
}

.container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 1280px;
  }
}

.card-set {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card-set {
    gap: 32px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .card-set {
    gap: 32px 15.5px;
    margin-top: 60px;
  }
}

.card-set__item {
  width: 280px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card-set__item {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .card-set__item {
    width: 395px;
    height: 634px;
  }
}

.film-card {
  cursor: pointer;
}
.film-card__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.film-card__box {
  height: 402px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .film-card__box {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__box {
    width: 394px;
    height: 574px;
  }
}
.film-card__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.film-card__info {
  font-size: 12px;
  line-height: 1.3;
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .film-card__info {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__info {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 12px;
  }
}
.film-card__title {
  color: #000;
  text-transform: uppercase;
}
.film-card__year {
  color: #ff6b08;
  border-left: 2px solid #ff6b08;
  padding-left: 4px;
}
.film-card__genre {
  color: #ff6b08;
}
.film-card__rating {
  display: inline-block;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  background-color: #ff6b08;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 1, 7;
  margin-left: 8px;
  padding-top: 2px;
}
@media screen and (min-width: 1280px) {
  .film-card__rating {
    width: 40px;
    height: 20px;
    padding-top: 3px;
  }
}

.video-trailer {
  max-width: 100%;
  width: 303px;
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video-trailer {
    width: 757px;
    height: 425px;
  }
}
@media screen and (min-width: 1280px) {
  .video-trailer {
    width: 1164px;
    height: 654px;
  }
}

#toTop {
  position: fixed;
  display: inline-block;
  bottom: 60px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #ff6b08;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

#toTop:hover {
  background: #ff6b08;
}

#toTop svg {
  position: relative;
  top: 12px;
  right: -1px;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

#toTop:hover svg {
  cursor: pointer;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

#toTop.show {
  opacity: 1;
  visibility: visible;
  right: 5%;
}

.header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 230px;
  background-size: cover;
  background-image: url("../images/header_mobile_1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header_mobile_2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    background-image: url("../images/header_tablet_1x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header_tablet_2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url("../images/header_desktop_1x.jpg");
    background-repeat: repeat;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header_desktop_2x.jpg");
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.header-nav__item:not(:last-child) {
  margin-right: 39px;
}

.header-nav__link {
  display: flex;
  align-items: center;
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #ff6b08;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.header-nav__item {
  display: flex;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #fff;
  height: 20px;
  width: 280px;
  margin-top: 60px;
  outline: unset;
  border: none;
  border-bottom: 0.7 solid #fff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .search-input {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .search-input {
    width: 394px;
  }
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input::-moz-placeholder {
  background: transparent;
  color: #fff;
  outline: none;
}

.search-input:-ms-input-placeholder {
  background: transparent;
  color: #fff;
  outline: none;
}

.search-input::placeholder {
  background: transparent;
  color: #fff;
  outline: none;
}

.search-input:hover,
.search-input:focus {
  outline: none;
}

.btn-search {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  margin-top: 60px;
  position: relative;
  left: -18px;
}

.heading {
  color: #fff;
  margin-left: 12px;
  font-size: 30px;
  line-height: 35.56px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .heading {
    display: none;
  }
}

.library-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 230px;
  background-image: url("../images/library-header_mob_1x.jpg");
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library-header {
    background-image: url("../images/library-header_mob_2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .library-header {
    background-image: url("../images/library-header_tablet_1x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .library-header {
    background-image: url("../images/library-header_tablet_2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .library-header {
    background-image: url("../images/library-header_desktop_1x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .library-header {
    background-image: url("../images/library-header_desktop_2x.jpg");
  }
}

.library-header__btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.library-header__btn {
  cursor: pointer;
  width: 130px;
  height: 44;
  border-radius: 5px;
  margin-right: 20px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
}
.library-header__btn:hover, .library-header__btn:focus {
  background-color: #ff6b08;
  color: #fff;
  border: 1px solid #ff6b08;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 77px;
  background: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: center;
  }
}

.footer__text {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #545454;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 767px) {
  .footer__text {
    justify-content: center;
    font-size: 14px;
    line-height: 1.4;
  }
}

.footer__image {
  display: flex;
  align-items: center;
  color: #ff6b08;
  margin: 0 6px;
  font-size: 19px;
  line-height: 1.4;
}

.footer__btn {
  margin: 0 6px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 400;
  color: #545454;
}

table.torrentTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ff6b02;
  border-style: solid;
  color: #000000;
}

table.torrentTable td,
table.torrentTable th {
  border-width: 2px;
  border-color: #ff6b02;
  border-style: solid;
  padding: 5px;
}

table.torrentTable thead {
  background-color: #ff6b02;
}

.torrentTable__btn {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  padding: 2px 6px;
}
.torrentTable__btn:hover, .torrentTable__btn:focus {
  background-color: #ff6b02;
  border: 1px solid #ff6b02;
  color: #ffffff;
}

.container-footer-modal {
  padding: 35px 20px;
  background: #ffffff;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #ff6b08;
}
@media screen and (max-width: 479px) {
  .container-footer-modal {
    width: 100%;
    padding: 25px;
  }
}
@media screen and (min-width: 480px) {
  .container-footer-modal {
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .container-footer-modal {
    max-width: 1440px;
    padding: 40px;
  }
}

.footer-modal-our-team-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-modal-our-team-list {
    margin-bottom: 20px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-modal-our-team-list {
    margin-bottom: 30px;
  }
}

.footer-portrets-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-basis: calc(100% - 20px);
  margin: 10px;
  box-shadow: 5px 5px 7px 5px rgba(255, 123, 71, 0.253);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  transition: transform 250ms;
}
@media screen and (min-width: 768px) {
  .footer-portrets-card {
    flex-basis: calc(50% - 20px);
  }
}
@media screen and (min-width: 1024px) {
  .footer-portrets-card {
    flex-basis: calc(20% - 20px);
  }
}
.footer-portrets-card:hover, .footer-portrets-card:focus {
  transform: scale(1.05);
}

.backdrop-footer-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  overflow-y: scroll;
  padding: 40px 20px 40px 20px;
}
@media screen and (min-width: 478px) {
  .backdrop-footer-modal {
    justify-content: center;
    align-items: center;
  }
}

.comand__card {
  padding: 10px;
  background-color: #f7f7f7;
  flex-grow: 1;
}

.comand__card-dark {
  background-color: #000;
}

.comand__card--title {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #746c6c;
  margin-bottom: 10px;
}

.comand__card--about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #746c6c;
  margin-top: 10px;
}

.comand__card--profesional {
  font-weight: 600;
  font-size: 14 px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #746c6c;
}

.ourteam-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-team__img {
  padding: 0px 0px 150% 0px;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.footer-modal__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ourteam-photo__git {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 35px;
  width: 50px;
}

.spin-wrapper {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(8, 7, 5, 0.1254901961);
}
.spin-wrapper .spinner {
  position: fixed;
  height: 60px;
  width: 60px;
  border: 3px solid transparent;
  border-top-color: #ff6b08;
  top: 50%;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.spin-wrapper .spinner:before, .spin-wrapper .spinner:after {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}
.spin-wrapper .spinner:before {
  border-top-color: #ffffff;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
.spin-wrapper .spinner:after {
  border-top-color: blueviolet;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

@-webkit-keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
@-webkit-keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}
@-webkit-keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
@-webkit-keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}
.backdrop-spinner {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adv {
  position: fixed;
  align-items: center;
  bottom: 5px;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.adv__item {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .adv__item {
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .adv__item {
    margin: auto;
  }
}

.adv__link {
  margin-left: 10px;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .adv__link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .adv__link {
    font-size: 18px;
  }
}

.adv__img {
  display: flex;
  height: 50px;
}

.avd__close-btn {
  opacity: 0.8;
  position: absolute;
  top: 1.5px;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000;
}
.avd__close-btn:hover, .avd__close-btn:focus {
  fill: white;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .avd__close-btn {
    top: 5px;
    right: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .avd__close-btn {
    top: 5px;
    right: 5px;
  }
}/*# sourceMappingURL=index.css.map */