@import './base/common';
@import './base/base';

@import './utils/hidden';
@import './utils/mixines';
@import './utils/vars';

@import './components/container';
@import './components/modal-film';
@import './components/backdrop';
@import './components/scrollbar';

// @import './components/tui-pagination';

@import './components/container';
@import './components/cardset';

@import './components/card';
@import './components/trailer';
@import './components/buttonUp';

@import './layouts/header';
@import './layouts/library-header';
@import './layouts/header-filter';
@import './layouts/footer';
@import './layouts/torrent-table';
@import './layouts/footer-modal';
@import './layouts/videoPlayer';

@import './components/spinner';
@import './components/advBlock';
@import './components/darkMode';

@import './components/pagination';
