<div class="adv">
  <div class="adv__item">
    <button type="button" class="avd__close-btn">
      <svg class="avd__close-btn" width="15" height="15">
        <use href="../images/symbol-defs.svg#close-btn"></use>
      </svg>
    </button>
    <img
      class="adv__img"
      height="50"
      width="140"
      src="../images/goit.png"
      alt=""
    />
    <a class="adv__link" href="https://mini-course-js.lp.goit.global">
      Запрошуємо на мінікурс з JavaScript для новачків!</a
    >
  </div>
</div>
