<article class="footer-modal">
  <div class="backdrop is-hidden js-backdrop-footer">
    <div class="container-footer-modal container" data-modal>
      <button class="close-button js-close-footer" type="button">
        <svg class="modal__close-btn" width="18" height="18">
          <use href="../images/symbol-defs.svg#close-btn"></use>
        </svg>
      </button>

      <ul class="footer-modal-our-team-list">
        <li class="footer-portraits-card">
          <a
            href="https://github.com/vitalii-khymchuk"
            class="footer-modal__link"
            target="_blank"
          >
            <div class="modal-team__img">
              <img
                src="../images/ourteam/Vitalii.jpg"
                alt="Vitalii Khymchuk"
                class="ourteam-photo"
                width="270"
                height="260"
              /><img
                class="ourteam-photo__git"
                src="../images/octofull2022.png"
                alt="github"
                width="270px"
                height="260px"
              />
            </div>
            <div class="command__card">
              <h3 class="command__card--title">Vitalii Klymchuk</h3>
              <p class="command__card--professional">Team-lead</p>
              <span class="command__card--about"
                >Development of project architecture and code review</span
              >
            </div>
          </a>
        </li>
        <li class="footer-portraits-card">
          <a
            href="https://github.com/mykhailyk"
            class="footer-modal__link"
            target="_blank"
          >
            <div class="modal-team__img">
              <img
                src="../images/ourteam/Juriy.jpg"
                alt="Juriy Mykhailyk"
                class="ourteam-photo"
                width="270"
                height="260"
              /><img
                class="ourteam-photo__git"
                src="../images/octofull2022.png"
                alt="github"
              />
            </div>
            <div class="command__card">
              <h3 class="command__card--title">Juriy Mykhailyk</h3>
              <p class="command__card--professional">Scrum master</p>
              <span class="command__card--about"
                >Header layout and local storage logic</span
              >
            </div>
          </a>
        </li>
        <li class="footer-portraits-card">
          <a
            href="https://github.com/Vadym-Khokhlov"
            class="footer-modal__link"
            target="_blank"
          >
            <div class="modal-team__img">
              <img
                src="../images/ourteam/Vadym.jpg"
                alt="Vadym Khokhlov"
                class="ourteam-photo"
                width="270"
                height="260"
              /><img
                class="ourteam-photo__git"
                src="../images/octofull2022.png"
                alt="github"
              />
            </div>
            <div class="command__card">
              <h3 class="command__card--title">Vadym Khokhlov</h3>
              <p class="command__card--professional">Fullstack Developer</p>
              <span class="command__card--about"
                >Theme design and scroll design</span
              >
            </div>
          </a>
        </li>
        <li class="footer-portraits-card">
          <a
            href="https://github.com/Tigra26"
            class="footer-modal__link"
            target="_blank"
          >
            <div class="modal-team__img">
              <img
                src="../images/ourteam/Alena.jpg"
                alt="Alena Shykova"
                class="ourteam-photo"
                width="270"
                height="260"
              /><img
                class="ourteam-photo__git"
                src="../images/octofull2022.png"
                alt="github"
              />
            </div>
            <div class="command__card">
              <h3 class="command__card--title">Alena Shykova</h3>
              <p class="command__card--professional">Fullstack Developer</p>
              <span class="command__card--about"
                >Developing of team modal presentation</span
              >
            </div>
          </a>
        </li>
        <li class="footer-portraits-card">
          <a
            href="https://github.com/masevik"
            class="footer-modal__link"
            target="_blank"
          >
            <div class="modal-team__img">
              <img
                src="../images/ourteam/Serhii.jpg"
                alt="Serhii Malychkovych"
                class="ourteam-photo"
                width="270"
                height="260"
              /><img
                class="ourteam-photo__git"
                src="../images/octofull2022.png"
                alt="github"
              />
            </div>
            <div class="command__card">
              <h3 class="command__card--title">Serhii Malychkovych</h3>
              <p class="command__card--professional">Fullstack Developer</p>
              <span class="command__card--about"
                >Development of modal windows modal logic</span
              >
            </div>
          </a>
        </li>
        <li class="footer-portraits-card">
          <a
            href="https://github.com/sergchernetskiy"
            class="footer-modal__link"
            target="_blank"
          >
            <div class="modal-team__img">
              <img
                src="../images/ourteam/Serg.jpg"
                alt="Sergii Chernetskiy"
                class="ourteam-photo"
                width="270"
                height="260"
              />
              <img
                class="ourteam-photo__git"
                src="../images/octofull2022.png"
                alt="github"
              />
            </div>
            <div class="command__card">
              <h3 class="command__card--title">Sergii Chernetskiy</h3>
              <p class="command__card--professional">Fullstack Developer</p>
              <span class="command__card--about"
                >Worked with listener logic</span
              >
            </div>
          </a>
        </li>
        <li class="footer-portraits-card">
          <a
            href="https://github.com/Akksiniya"
            class="footer-modal__link"
            target="_blank"
          >
            <div class="modal-team__img">
              <img
                src="../images/ourteam/Ksiniya.jpg"
                alt="Ksiniya"
                class="ourteam-photo"
                width="270"
                height="260"
              /><img
                class="ourteam-photo__git"
                src="../images/octofull2022.png"
                alt="github"
              />
            </div>
            <div class="command__card">
              <h3 class="command__card--title">Akksiniya</h3>
              <p class="command__card--professional">Fullstack Developer</p>
              <span class="command__card--about"
                >Development of card render and modal window with info about
                films</span
              >
            </div>
          </a>
        </li>
        <li class="footer-portraits-card">
          <a
            href="https://github.com/vladyslavhurzhyi"
            class="footer-modal__link"
            target="_blank"
          >
            <div class="modal-team__img">
              <img
                src="../images/ourteam/Vladyslav.jpg"
                alt="Vladyslav Hurzhyi"
                class="ourteam-photo"
                width="270"
                height="260"
              /><img
                class="ourteam-photo__git"
                src="../images/octofull2022.png"
                alt="github"
              />
            </div>
            <div class="command__card">
              <h3 class="command__card--title">Vladyslav Hurzhyi</h3>
              <p class="command__card--professional">Fullstack Developer</p>
              <span class="command__card--about"
                >Work with HTTP requests, layout and visual design</span
              >
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
