<header class="header">
  <!-- <h1>Filmoteka</h1> -->
  <nav class="header__nav">
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">
          <svg class="header__logo__icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
      </li>
      <li class="header__nav__item">
        <h2 class="header__nav__link">home</h2>
      </li>
      <li class="header__nav__item">
        <h2 class="header__nav__link">my library</h2>
      </li>
    </ul>
  </nav>
  <div class="header__input">
    <form class="search-form" role="search">
      <input
        class="input__search"
        type="search"
        placeholder="Movie search"
        aria-label="Search"
      />
      <button class="btn-icon" type="submit">
        <svg class="header__logo__icon" width="10" height="10">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
