<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header-nav__link">
        <svg class="header-logo__icon" width="24" height="24">
          <use href="../images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <h1 class="heading">Filmoteka</h1>
      </a>
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link current">home</a>
        </li>
        <li class="header-nav__item">
          <a href="./library.html" class="header-nav__link">my library</a>
        </li>
      </ul>
    </nav>
    <div class="header__search">
      <form class="search-form" id="search-form">
        <input
          class="search-input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie search"
        />
        <button class="btn-search" type="submit">
          <svg class="header__logo__icon" width="10" height="10">
            <use href="../images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>

    <!-- filters -->

    <form class="header__form">
      <div class="header__form-genres">
        <label for="genre" class="header__form-text">Сhoose a genre:</label>
        <select name="genre" id="genre" class="header__form-choice">
          <option
            value="action"
            class="header__form-genres-name"
            data-filter="28"
          >
            Action
          </option>
          <option
            value="adventure"
            class="header__form-genres-name"
            data-filter="12"
          >
            Adventure
          </option>
          <option
            value="animation"
            class="header__form-genres-name"
            data-filter="16"
          >
            Animation
          </option>
          <option
            value="comedy"
            class="header__form-genres-name"
            data-filter="35"
          >
            Comedy
          </option>
          <option
            value="documentary"
            class="header__form-genres-name"
            data-filter="99"
          >
            Documentary
          </option>
          <option
            value="drama"
            class="header__form-genres-name"
            data-filter="18"
          >
            Drama
          </option>
          <option
            value="thriller"
            class="header__form-genres-name"
            data-filter="53"
          >
            Thriller
          </option>
        </select>
      </div>

      <div class="header__form-sorts">
        <label for="sort" class="header__form-text">Sort by:</label>
        <select name="sort" id="sort" class="header__form-choice">
          <option
            value="ratingUp"
            class="header__form-sort-by"
            data-filter="ratingUp"
          >
            RatingUp
          </option>
          <option
            value="ratingDown"
            class="header__form-sort-by"
            data-filter="ratingDown"
          >
            RatingDown
          </option>
        </select>
      </div>

      <div class="header__form-release">
        <label for="yearStart" name="yearStart" class="header__form-text"
          >Select year: from</label
        >
        <select
          id="yearStart"
          class="header__form-choice"
          data-filter="yearStart"
        ></select>
        <label for="yearEnd" name="yearEnd" class="header__form-text">to</label>
        <select
          id="yearEnd"
          class="header__form-choice"
          data-filter="yearEnd"
        ></select>
      </div>

      <button type="submit" class="btn header__form-btn">Search</button>
    </form>
  </div>
</header>
