<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header-nav__link">
        <svg class="header-logo__icon" width="24" height="24">
          <use href="../images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <h1 class="heading">Filmoteka</h1>
      </a>
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link current">home</a>
        </li>
        <li class="header-nav__item">
          <a href="./library.html" class="header-nav__link">my library</a>
        </li>
      </ul>
    </nav>
    <div class="header__search">
      <form class="search-form" id="search-form">
        <input
          class="search-input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie search"
        />
        <button class="btn-search" type="submit">
          <svg class="header__logo__icon" width="10" height="10">
            <use href="../images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <include src="./partials/header-filter.html"></include>
  </div>
</header>
