<header class="library-header darkmode-ignore">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header-nav__link">
        <svg class="header-logo__icon" width="24" height="24">
          <use href="../images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <h1 class="heading">Filmoteka</h1>
      </a>
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link">home</a>
        </li>
        <li class="header-nav__item">
          <a href="./library.html" class="header-nav__link current"
            >my library</a
          >
        </li>
        <li>
          <label>
            <input id="input" type="checkbox" />
            <span class="check"></span>
          </label>
        </li>
      </ul>
    </nav>
    <div class="library-header__btn-list">
      <button type="button" class="library-header__btn watched-btn">
        watched
      </button>
      <button type="button" class="library-header__btn queue-btn">queue</button>
    </div>
  </div>
</header>
