<button type="button" class="button" data-modal-open>
  відкрити опис фільму
</button>
<div data-modal class="backdrop is-hidden js-backdrop">
  <div class="modal js-modal">
    <button type="button" data-modal-close class="modal__close-btn">
      <svg class="modal__close-btn" width="18" height="18">
        <use href="../images/symbol-defs.svg#close-btn"></use>
      </svg>
    </button>
    <div class="accordion-container-main">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Torrents</button>
        </h2>
        <div class="ac-panel">
          <ul class="accordion-container"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
