.card-set {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  @include tab-only {
    gap: 32px;
  }

  @include pc-only {
    gap: 32px 15.5px;
  }
}

.card-set__item {
  width: 280px;
  height: 443px;

  @include tab-only {
    width: 336px;
    height: 494px;
  }

  @include pc-only {
    width: 395px;
    height: 634px;
  }
}
