.card-set {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  
  @include tab-only {
    gap: 32px;
    margin-top: 60px;
  }

  @include pc-only {
    gap: 32px 15.5px;
    margin-top: 60px;
  }
}

.card-set__item {
  width: 760px;
  background-size: cover;
  flex-shrink: 1;

  @include tab-only {
    width: 336px;
  }

  @include pc-only {
    width: 395px;
    height: 634px;
  }
}
