.container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  @include mob-only {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
  }
  @include tab-only {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
  @include pc-only {
    padding-left: 32px;
    padding-right: 32px;
    width: 1280px;
  }
}
