.header {
  width: 100%;
  height: 230px;
  background-image: url('../images/header_mobile_1x.jpg');
  background-repeat: repeat;
}

.header-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}

.input__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: white;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__search::placeholder {
  background: transparent;
  color: cornsilk;
}

.input__search:hover,
.input__search:focus {
  outline: none;
  border-bottom: yellow;
}

.btn-icon {
  background: transparent;
  border: none;
  color: whitesmoke;
  position: absolute;
  right: 840;
  outline: none;
}
