.modal {
  position: relative;
  width: 320px;
  height: 1028px;
  padding: 40px 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  overflow-y: scroll;

  background-color: $secondaryBgColor;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    opacity 250ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

  @include tab-only {
    width: 704px;
    height: 605px;
    padding: 30px 20px;
  }

  @include pc-only {
    width: 806px;
    height: 615px;
    padding: 40px 15px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;

  @include tab-pc {
    top: 10px;
    right: 10px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: $mainTextColor;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.film__wrapper {
  @include tab-only {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }
  @include pc-only {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }
}

.film__image {
  margin-right: auto;
  margin-left: auto;
  display: block;

  min-width: 280px;
  height: 390px;
  border-radius: 5px;
  margin-bottom: 20px;
  @include tab-only {
    max-width: 372px;
    height: 472px;
    margin: 0;
  }
  @include pc-only {
    min-width: 340px;
    height: 478px;
    margin: 0;
  }
}

.film__information {
  width: 280px;
  text-align: start;
  @include tab-only {
    max-height: 472px;
    width: 100%;
  }

  @include pc-only {
    max-height: 472px;
    width: 412px;
  }
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  @include pc-only {
    font-size: 30px;
    line-height: 1.17;
  }
}

.film__item {
  display: flex;
  margin-bottom: 10px;
}
.film__details {
  color: $extraTextColor;
  min-width: 108px;
}

.film__info--uper {
  text-transform: uppercase;
  line-height: 1.17;
}

.film__rating--orange {
  color: $secondaryTextColor;
  background-color: $accentColor;
  line-height: 1.17;
  border-radius: 5px;
  padding: 1px 10px;
}
.film__rating--divider {
  margin-right: 3px;
  color: $extraTextColor;
  line-height: 1.17;
}

.film__details--uper {
  text-transform: uppercase;
}

.film__vote-count {
  line-height: 1.17;
}

.film__about__title {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 8px;
}
.film__about__text {
  line-height: 1.67;
  margin-bottom: 20px;
  overflow-y: scroll;
  max-height: 130px;

  @include tab-only {
    max-height: 137px;
  }
  @include pc-only {
    max-height: 130px;
  }
}
.film__button__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;

  @include tab-only {
    gap: 14px;
    flex-wrap: nowrap;
  }
  @include pc-only {
    flex-wrap: nowrap;
  }
}

.film__button {
  width: 135px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $secondaryTextColor;
  cursor: pointer;
  border: 1px solid $mainTextColor;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $secondaryTextColor;
    border: 1px solid $accentColor;
  }
  @include tab-only {
    width: 110px;
  }
  @include pc-only {
    width: 130px;
  }
}

.film__button.active {
  background-color: $accentColor;
  color: $secondaryTextColor;
  border: 1px solid $accentColor;
}

.film__trailer-link {
  display: flex;
  padding: 13px 12px;
  align-items: center;
  border: 1px solid $mainTextColor;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $secondaryTextColor;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $secondaryTextColor;
    border: 1px solid $accentColor;
  }
}

.film__trailer__text {
  text-transform: uppercase;
}

.watchOnlineButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  position: relative;
  border: 1px solid $mainTextColor;
  border-radius: 5px;
  margin-top: 25px;

  @include tab-only {
    gap: 8px;
  }

  @include pc-only {
    gap: 15px;
  }
}

.watch-online__text {
  text-transform: uppercase;
  text-align: center;
  padding: 2px 20px;
  position: absolute;
  top: -20%;
  background-color: $secondaryBgColor;
}

.watch-online__wrapper {
  display: flex;
  padding: 10px;
  flex-wrap: nowrap;
  gap: 55px;

  @include pc-only {
    gap: 55px;
  }
}

.qualityBtn {
  background-color: $secondaryTextColor;
  border: 1px solid $mainTextColor;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;

  @include tab-only {
    padding: 12px 20px;
  }

  @include pc-only {
    padding: 12px 30px;
  }

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $secondaryTextColor;
    border: 1px solid $accentColor;
  }
}
