/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $mainBgColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, $accentColor, #ffe8d5);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #b85e00, $accentColor);
}
