.container-footer-modal {
  max-width: 290px;
  padding: 45px 0px 0px 0px;
  margin-top: 40px;
  background: #ffffff;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid $accentColor;

  @include tab-only {
    max-width: 740px;
    padding: 45px 15px 20px 15px;
    justify-content: center;
    align-items: center;
  }

  @include pc-only {
    max-width: 1200px;
    padding: 40px;
  }
}

.footer-modal-our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.footer-portraits-card {
  overflow: hidden;
  flex-basis: calc(100% - 20px);
  box-shadow: 5px 5px 7px 5px rgba(255, 123, 71, 0.253);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin-bottom: 20px;

  @include tab-only {
    margin-bottom: 0px;
    flex-basis: calc(50% - 20px);
  }

  @include pc-only {
    flex-basis: calc(20% - 20px);
    margin-bottom: 0px;
  }

  transition: transform 250ms;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.command__card {
  padding: 10px;
  background-color: $secondaryBgColor;
  flex-grow: 1;
}
.command__card-dark {
  background-color: $mainTextColor;
}

.command__card--title {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #746c6c;
  margin-bottom: 10px;
}
.command__card--about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #746c6c;
  margin-top: 10px;
}

.command__card--professional {
  font-weight: 600;
  font-size: 14 px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #746c6c;
}

.ourteam-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-team__img {
  padding: 0px 0px 150% 0px;
  overflow: hidden;
  position: relative;
}

.footer-modal__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ourteam-photo__git {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 35px;
  width: 40px;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

// .spin-wrapper {
//   position: absolute;
//   z-index: 50;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background-color: #08070520;

//   .spinner {
//     position: fixed;
//     height: 60px;
//     width: 60px;
//     border: 3px solid transparent;
//     border-top-color: $accentColor;
//     top: 50%;
//     left: 50%;
//     margin: -30px;
//     border-radius: 50%;
//     animation: spin 2s linear infinite;

//     &:before,
//     &:after {
//       content: '';
//       position: absolute;
//       border: 3px solid transparent;
//       border-radius: 50%;
//     }

//     &:before {
//       border-top-color: #ffffff;
//       top: -12px;
//       left: -12px;
//       right: -12px;
//       bottom: -12px;
//       animation: spin 3s linear infinite;
//     }

//     &:after {
//       border-top-color: blueviolet;
//       top: 6px;
//       left: 6px;
//       right: 6px;
//       bottom: 6px;
//       animation: spin 4s linear infinite;
//     }
//   }
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
