.header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 230px;
  background-image: url('../images/header_mobile_1x.jpg');
  background-size: cover;

  @include tab-only {
    background-image: url('../images/header_tablet_1x.jpg');
  }
  @include pc-only {
    background-image: url('../images/header_desktop_2x.jpg');
    background-repeat: repeat;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.header-nav__item:not(:last-child) {
  margin-right: 39px;
}

.header-nav__link {
  display: flex;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.header-nav__item {
  display: flex;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: white;
  height: 20px;
  margin-top: 60px;
  outline: unset;
  border: none;
  border-bottom: 0.7 solid white;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input::placeholder {
  background: transparent;
  color: white;
  outline: none;
}

.search-input:hover,
.search-input:focus {
  outline: none;
}

.btn-search {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  margin-top: 60px;
  position: relative;
  left: -18px;
}

.current::after {
  content: '';
  border-bottom: 3px currentColor;
}

.heading {
  @include mob-only {
    display: none;
  }
  color: white;
  margin-left: 12px;
}
